<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
            <img src="/logo_CiberNova.png" alt="Logo" class="logo me-2">
            <span class="brand-text">Clínica Ciber Nova</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/results">Resultados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/history">Historial</a>
                </li>
            </ul>
        </div>
    </div>
</nav>